In [1]:
import requests
import xmltodict
import time
import pandas as pd
from datetime import datetime

url_base = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"
url_serviceKey = "S8%2Ftx%2BhEP7bZDZI%2By0P1ZKvPuHpx%2BVUKpt6ay8faxnxR%2FTRO9M5UAy8%2BafhJBNVzQG%2Fgwoym2S4Xbe1dUXivUw%3D%3D"
url_pages = "1000" #페이지당열갯수
url_start_date = "20200303" #시작날짜
url_end_date = datetime.today().strftime("%Y%m%d%H%M%S")[:8] #끝날짜
url = url_base + "?serviceKey=" + url_serviceKey + "&pageNo=1&numOfRows=" + url_pages + "&startCreateDt="+ url_start_date + "&endCreateDt=" + url_end_date

In [2]:
req = requests.get(url).content

In [3]:
xmlObject = xmltodict.parse(req)
dict_data = xmlObject['response']['body']['items']['item']

In [4]:
df = pd.DataFrame(dict_data)

In [5]:
df.head(5)

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt
0,1.8329773898,12057831,11590323,24081,186242,2021-08-09 09:37:14.335,2125,212448,467508,11377875,598,20210809,00:00,null
1,1.8246951604,12027443,11561164,23832,185003,2021-08-08 09:43:32.979,2121,210956,466279,11350208,597,20210808,00:00,null
2,1.8113424207,11995928,11550991,23323,183789,2021-08-07 09:40:18.999,2116,209228,444937,11341763,596,20210807,00:00,null
3,1.7996718498,11951651,11524601,23240,182052,2021-08-06 09:43:45.386,2113,207405,427050,11317196,595,20210806,00:00,2021-08-07 10:18:32.043
4,1.7898020411,11908436,11492947,22873,180719,2021-08-05 09:50:52.915,2109,205701,415489,11287246,594,20210805,00:00,2021-08-07 10:19:32.221

In [6]:
df.drop(['createDt', 'seq', 'stateTime', 'updateDt'], axis=1, inplace=True)

In [7]:
df['newDecideCnt'] = 0

for i in range(len(df)-1):
    df['newDecideCnt'][i] = int(df.iloc[i]['decideCnt']) - int(df.iloc[i+1]['decideCnt'])

C:\Users\admin\anaconda3\envs\multi\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

- accDefRate : 누적 확진률
- accExamCnt : 누적 검사수
- accExamCompCnt : 누적 검사 완료 수
- careCnt : 치료 중 환자 수
- clearCnt : 격리 해제 수
- deathCnt : 사망자 수
- decideCnt : 확진자 수
- examCnt : 검사 진행 수
- resutlNegCnt : 결과 음성 수
- stateDt : 기준일
- newDecideCnt : 당일 확진자 수

In [8]:
df.head(10)

,accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,deathCnt,decideCnt,examCnt,resutlNegCnt,stateDt,newDecideCnt
0,1.8329773898,12057831,11590323,24081,186242,2125,212448,467508,11377875,20210809,1492
1,1.8246951604,12027443,11561164,23832,185003,2121,210956,466279,11350208,20210808,1728
2,1.8113424207,11995928,11550991,23323,183789,2116,209228,444937,11341763,20210807,1823
3,1.7996718498,11951651,11524601,23240,182052,2113,207405,427050,11317196,20210806,1704
4,1.7898020411,11908436,11492947,22873,180719,2109,205701,415489,11287246,20210805,1775
5,1.7784726028,11864245,11466356,22697,179123,2106,203926,397889,11262430,20210804,1725
6,1.7703206768,11820016,11421716,22188,177909,2104,202201,398300,11219515,20210803,1200
7,1.7654223809,11772604,11385434,22297,176605,2099,201001,387170,11184433,20210802,1218
8,1.7566148154,11751782,11373182,22011,175674,2098,199783,378600,11173399,20210801,1442
9,1.7460185273,11728817,11359616,22069,174177,2095,198341,369201,11161275,20210731,1539